header {    
    width: 100%;
    background-color: burlywood;
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.logo {    
    margin-left: 20px;
    padding: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.logo img {
    height: 100%;
    aspect-ratio: 1/1;
}

.logo h3 {
    text-transform: uppercase;
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.logo p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    word-spacing: 2px;    
    font-style: italic;
}

.input-form {
    padding: 0;
    margin-right: 20px;
    border-radius: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.input-form i {
    width: 30px;
    text-align: right;
    font-size: 1rem;
}

.input-form input {
    width: 400px;
    padding: 10px;
    font-size: 1rem;
    outline: 0;
    border: 0;
    border-radius: 100px 0px 0px 100px;
    background-color: transparent;
}

.input-form button {
    padding: 10px 20px;
    outline: 0;
    border: 0;
    border-radius: 0px 100px 100px 0px;
    background-color: transparent;
    cursor: pointer;
}

.buttons {
    padding: 0;
    height: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.buttons button {
    padding: 5px 20px;
    outline: 0;
    border: 0;
    background-color: transparent;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.design {
    padding: 20px 0px;
}

.design marquee {
    margin-bottom: 20px;
    padding: 10px 0;
    color: green;
    background-color: rgba(127, 255, 212, 0.3);
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.design .ad {
    width: 100%;
    height: 200px;
    background-image: url('../media/ad.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design .ad .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    cursor: pointer;
}

.design .ad .close-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.output {
    display: grid;   
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.newDiv {
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    cursor: pointer;
}

.newDiv a {
    text-decoration: none;
    color: black;
}

.newDiv:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.newDiv img{
    border-radius: 10px;
    width: 100%;
}

.show-btn {
    width: 100%;
    padding: 20px 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;    
}

.show-btn .btn-text {
    transition: 0.3s ease;
}

.show-btn i {
    transition: 0.3s ease;
}

footer {
    width: 100%;
    padding: 20px 0px;
    background-color: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .logo h3, p{
        display: none;
    }

    .input-form input{
        width: 100px;
    }

    .design marquee {
        font-size: 12px;
        padding: 3px 0;
    }

    .output {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .input-form input{
        width: 100px;
    }

    .design marquee {
        font-size: 14px;
        padding: 5px 0;
    }

    .output {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /* .logo h3, p{
        display: none;
    } */

    .input-form input{
        width: 150px;
    }

    .design marquee {
        font-size: 16px;
        padding: 7px 0;
    }

    .output {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .input-form input{
        width: 200px;
    }

    .design marquee {
        font-size: 18px;
        padding: 10px 0;
    }

    .output {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .input-form input{
        width: 400px;
    }

    .design marquee {
        font-size: 18px;
        padding: 10px 0;
    }

    .output {
        grid-template-columns: repeat(4, 1fr);
    }
}